<article>
    <img class="listing-photo" [src]="'assets/' + produtoLocation.photo" alt="Photo of {{produtoLocation.nome}}" />
    <section class="listing-description">
        <h2 class="listing-heading">{{produtoLocation.nome}}</h2>
        <p class="listing-description-text">{{produtoLocation.descricao}}</p>
        <p class="listing-price">Preço: R$ {{produtoLocation.preco | number:'1.2-2'}}</p>
    </section>

    <!-- Exibindo os botões de ação -->
    <section class="listing-actions" *ngIf="!isEditing">
        <button class="primary" (click)="comprar()">Comprar</button>
        <button class="primary" (click)="editar()">Editar</button>
        <button class="primary" (click)="deleteProduto()">Excluir</button>
        <!-- <button class="primary" (click)="cancelar()">Cancelar</button> -->
    </section>

    <!-- Formulário de Edição -->
    <section class="listing-edit" *ngIf="isEditing">
        <h2 class="section-heading">Editar Produto</h2>
        <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
            <label for="nome">Nome</label>
            <input id="nome" type="text" formControlName="nome">

            <label for="descricao">Descrição</label>
            <input id="descricao" type="text" formControlName="descricao">

            <label for="preco">Preço</label>
            <input id="preco" type="number" formControlName="preco">

            <label for="photo">URL da Imagem</label>
            <input id="photo" type="text" formControlName="photo">

            <button type="submit" class="primary">Salvar Alterações</button>
            <button type="button" class="primary" (click)="cancelar()">Cancelar</button>
        </form>
    </section>
</article>
