.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
  }
  
  a {
    padding-left: 15px;
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:link {
    text-decoration: none;
  }
  